// Custom Theming for Angular Material
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
// @import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Reusable-primary: mat.define-palette(mat.$indigo-palette);
$Reusable-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Reusable-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$Reusable-theme: mat.define-light-theme($Reusable-primary, $Reusable-accent, $Reusable-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Reusable-theme);

/* You can add global styles to this file, and also import other style files */
@import "@fortawesome/fontawesome-free/css/all.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.statistic-red {
  color: red !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of progress-bar that may no longer apply for the MDC version.*/
mat-progress-bar .mat-progress-bar-buffer {
  background: #E4E8EB;
}


.mat-form-field-fluid {
  width: 99% !important;
}

.mat-calendar-table-header {
  text-transform: capitalize !important;
}

.eqp-filters-applied-filter-icon {
  color: red;
}

//Import per lookup

// @import "@fullcalendar/common/main.css";
// @import "@fullcalendar/daygrid/main.css";
// @import "@fullcalendar/timegrid/main.css";
/* Importing Bootstrap SCSS file. */

@import '../projects/eqp-ui/src/lib/scss/_eqpui.scss';

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';

@import "~@ng-select/ng-select/themes/material.theme.css";

//Import SyncFusion editor
@import 'node_modules/@syncfusion/ej2-base/styles/material.css';
@import 'node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import 'node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import 'node_modules/@syncfusion/ej2-popups/styles/material.css';
@import 'node_modules/@syncfusion/ej2-lists/styles/material.css';
@import 'node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import 'node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import 'node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import 'node_modules/@syncfusion/ej2-angular-documenteditor/styles/material.css';

